/* blog */
.Blog .main-card{
  padding: 30px;
  background-color: #fbf9ff;
  margin-bottom: 20px;
}
.input-search{
  position: relative;
}
.card-form > input{
  border: 1px solid  #77777729;
  outline: none;
  padding: 10px;
  width: 100%;
}
.input-search > i{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f00;
  color: #fff;
  padding: 15px;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-card form > input:last-child{
  width: 100%;
  margin-top: 20px;
  background-color: #f00;
  border: none;
  outline: none;
  padding: 10px;
  color: white;
  letter-spacing: 1px;
  font-family: 'Josefin Sans', sans-serif;
}
.Blog .main-card > h3{
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
}
.Blog .list-group-item{
  margin-top: 20px;
  background-color:#fbf9ff;
  padding: 10px 0;
}
.blog-list .list-group-item a{
  color: #777;
  font-weight: 500;
  transition: all 0.3s linear;
}
.blog-list .list-group-item a:hover{
  color: #f00;
}
.card-post{
  padding: 10px 0;
}
.card-post .card a{
  color: #0b1c39;
  display: block;
  padding-bottom: 5px;
  transition: all 0.3s linear;
  font-weight: 400;
}
.card-post .card a:hover{
  color: #f00;
}
.card-post .card span{
  color: #777;
  font-size: 15px;
}
.list-clouds{
  padding: 0;
}
.list-clouds li{
  display: inline-block;
  padding: 5px;
}
.list-clouds li a{
  display: block;
  color: #777;
  border: 1px solid  #77777729;
  padding: 4px 10px;
  font-size: 14px;
  transition: all 0.3s linear;
}
.list-clouds li a:hover{
  background-color: #f00;
  color: #fff;
}
.card-insta{
  padding-bottom: 15px;
}
.first-col{
  padding-bottom: 40px;
}
.blog-text{
  padding: 15px;
}
.blog-text > a{
  display: block;
  padding-bottom: 7px;
  color: #0b1c39;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.3s linear;
}
.blog-text > a:hover{
  color: #f00;
}
.blog-text p{
  color: #777;
  line-height: 1.8;
  padding-right: 15px;
  font-size: 15px;
}
.blog-link{
  display: flex;
}
.blog-link > a{
  padding: 0 10px;
  display: block;
  color: #999;
  font-weight: 400;
  font-size: 14px;
  transition: all 0.3s linear;
}
.blog-link > a:hover{
  color: #f00;
}
.blog-link > a:first-child{
  border-right: 1px solid #777;
  padding-left: 0;
}